{{> header}}
{{> navbar}}
<h1 class="h1">Pintores favoritos</h1>
    <h3 class="h3i"> Pablo Picasso</h3>
    <h3 class="h3i">Vincent van Gogh</h3>
    <h3 class="h3i">Claude Monet</h3>
    <h3 class="h3i">Leonardo Da Vinci</h3>
{{> footer}}