{{> header}}
{{> navbar}}
<h3 class="h3">Leonardo Da Vinci</h3>
<div class="noticia">
  <img class="izquierda" src="/images/leonardo.jpg" width="30%">
  <aside>Fecha de nacimiento: 15 de abril de 1452, Anchiano, Italia <br>
        Fallecimiento: 2 de mayo de 1519, Castillo de Clos-Lucé, Amboise, Francia <br>
        En exhibición: Pinacoteca Ambrosiana, Museo del Louvre <br>
        Períodos: Alto Renacimiento, Primer renacimiento, Renacimiento, Renacimiento italiano, Escuela florentina<br></aside>
  <div class="reset"></div>
</div>
    <p class="pa">Leonardo Da Vinci fue uno de los hombres más brillantes que jamás haya existido. Fue músico, inventor, ingeniero, anatomista y pintor, entre otras cosas. Él es generalmente considerado como uno de los mejores pintores de la historia mundial. Él es considerado por muchos como una de las personas más talentosas e inteligentes de todos los tiempos. El término Hombre del Renacimiento (alguien que hace muchas cosas muy bien) fue ideado a partir de los muchos talentos de Leonardo y hoy en día se utiliza para describir a personas que se parecen a Da Vinci.

Da Vinci fue una de las grandes mentes creativas del Renacimiento Italiano, fue muy influyente como artista y escultor, pero también contaba con un gran talento como ingeniero, científico e inventor. <br><br>
Leonardo nació en la ciudad de Vinci, Italia, el 15 de abril de 1452. No se sabe mucho sobre su infancia, salvo a que su padre era rico y tenía varias esposas. Alrededor de la edad de 14 años se convirtió en aprendiz de un famoso artista llamado Verrocchio. Aquí es donde aprendió sobre arte, dibujo, pintura y más. Leonardo fue criado por su padre y su madrastra. A la edad de cinco años, se mudó a la finca familiar de su padre en las cercanías de Vinci, la ciudad toscana de la cual deriva el apellido de Leonardo. Vivía con su tío y sus abuelos. Tenía diecisiete hermanos y medio hermanos. <br><br>

El joven Leonardo recibió poca educación formal más allá de la lectura básica, la escritura y las matemáticas, pero sus talentos artísticos fueron evidentes desde temprana edad. Su padre era artista, y él animó a Leonardo a pintar y a dibujar.

Casa de Leonardo Da Vinci
A los 14 años, Leonardo se convirtió en el aprendiz del pintor Andrea del Verrocchio. Era claramente el mejor estudiante de Verrocchio, y rápidamente desarrolló su propio estilo. Incluso formuló sus propias pinturas. En 1472, Leonardo fue aceptado en el gremio de pintores en Florencia. Aun así, siguió siendo aprendiz hasta 1477.

En 1482, Leonardo entró en servicio para el Duque de Milán. Trabajó para el duque durante 17 años. El duque reconoció los inmensos talentos de Leonardo y lo puso a trabajar pintando, esculpiendo, diseñando edificios, maquinaria y armas. Desde 1485 hasta 1490, las asombrosas obras de Leonardo incluyeron planos avanzados de armas militares como tanques, vehículos de guerra e incluso submarinos. Incluso trazó planos para una maquina prototipo de un helicóptero y un ala delta. Durante este tiempo, también comenzó sus estudios en la anatomía humana, en los cuales se le dio permiso para realizar disecciones humanas. <br><br>
<img src="/images/ultima-cena.jpg" class="img-fluid" alt="Responsive image" width="25%">
<img src="/images/monalisa.jpg" class="img-fluid" alt="Responsive image" width="25%">
<img src="/images/manos.jpg" class="img-fluid" alt="Responsive image" width="25%">
<img src="/images/cabeza.jpg" class="img-fluid" alt="Responsive image" width="25%">
<img src="/images/leda.jpg" class="img-fluid" alt="Responsive image" width="25%">
</p>
{{> footer}}
